.advertising{
    background: $bg-sy;
    padding-top: 40px;
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__card{
        width: calc(33.33% - 20px);
        background:white;
        border-radius: 5px;
    }
    &__img{
        img{
            width: 100%;
        }
    }
    &__desc{
        margin-top: 10px;
        margin-left: 20px;
    }
    &__title{
        font-size: 22px;
        font-weight: 600;
        color: black;
        margin-bottom: 10px;
    }
    &__info{
        font-style: 14px;
        font-weight: 400;
        color: $bg-text;
        margin-bottom: 10px;
    }
    &__cost{
        margin-top: 30px;
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-bottom: none;
        border-left: none;
        border-right: none;
        padding-left: 20px;
        padding-bottom: 10px;
        b{
            margin-right: 120px;
            color: $bg-btn;
        }
        hr{
            width: 1px;
            height: 35px;
            color: #ddd;
        }
        p{
            display: flex;
            align-items: center;
            display: flex;
            gap: 10px;
            margin-left: 10px;
            transition: .25s;
            &:hover{
                color: $bg-btn;
            }
        }
    }
    &__btn{
        padding-bottom: 80px;
        margin-top: 40px;
        button{
            padding: 16px 95px;
            border: 1px solid #4E9DD3;
            outline: none;
            background: transparent;
            display: flex;
            margin: auto;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                border: 4px solid #4E9DD3;
            }
        }
    }
}

@media (max-width:990px){
    .advertising{
        &__cost{
            b{
                margin-right: 90px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}
@media (max-width:790px) {
    .advertising{
        &__wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }
        &__card{
            width: calc(50% - 15px);
            
        }
        &__btn{
            display: none;
        }
        &__cost{
            b{
                margin-right: 50px;
            }
            p{
                font-size: 14px;
            }
            img{
                display: none;
            }
        }
    }
}
@media (max-width:460px) {
    .advertising{
        &__wrapper{
        display: flex;
        flex-wrap: wrap;
        
        }
        &__card{
            width: 100%;
            img{
                width: 100%;
            }
        }
        &__cost{
            img{
                display: block;
                width: 15px;
                height: 19px;
            }
        }
    }
}
