.footer{
    background: #EBEDEE;
    padding-top: 58px;
    padding-bottom: 40px;
    &__wrapper{
        display: flex;
        gap: 30px;
        p{
            &:hover{
                color: rgb(159, 159, 242);
            }
        }
    }
    &__box{
         width: 30%
    }
    &__collection{
        width: calc(17.5% - 24px);
    }
    &__block{
        p{
            font-size: 10px;
        }
    }
    &__content{
        display: flex;
       margin-bottom: 20px;
       gap: 10px;
    }
    &__img{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 80px;
            height: 50px;
            margin-bottom: 5px;
        }
        p{
            font-size: 12px;
            &:hover{
                color: rgb(159, 159, 242);
            }
        }
    }
    &__item{
        font-size: 12px;
        line-height: 2;
        span{
            color: $bg-text;
            transition: .3s;
            &:hover{
                color: rgb(159, 159, 242);
            }
        }
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transform: .3s;
        &:hover{
            margin-left: 20px;
        }
        img{
            width: 24px;
            height: 24px;
            margin-top: 40px;
        }
    }

}
@media (max-width:990px) {
    .footer{
        &__box{
            width: 100%;

        }
        .alone{
            display: none;
        }

    }
}
@media (max-width:840px) {
    .footer{
        &__wrapper{
            display: flex;
            flex-wrap: wrap;
        }
        &__content{
            display: flex;
           margin-bottom: 20px;
           gap: 30px;
        //    border: 1px solid red;
        }
      &__foto{
        display: flex;
      }
        .alone{
            width: 100%;
        }
        &__icon{
            display: flex;
            align-items: start;
            justify-content: start;
            img{
                margin-top: 10px;
            }
        }
    }
    
}

@media (max-width:450px) {
    .footer{
        &__content{
            display: flex;
            flex-direction: column;

        }
    }
    
}