.header{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background:$bg-py;
    margin-bottom: 18px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
     &__logo{
        display: flex;
        gap: 10px;
        font-size: 14px;
        span{
            color: $bg-text;
            &:hover{
                color: rgb(188, 188, 243);
            }
        }
     }
    &__collection{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__select{
        background: transparent;
        border: none;
        outline: none;
        &:hover{
            color: rgb(188, 188, 243);
        }
    }
    &__item{
        font-size: 14px;
        span{
            color: $bg-text;
            &:hover{
                color:rgb(188, 188, 243);
            }
        }
        i{
            padding-right: 5px;
        }
    }
}

@media (max-width:1110px) {
    .navbar{
        &__logo{
            display:none;
        }
    }
}
@media (max-width:760px) {
    .header{
        display: none;
    }
    
}